.idea
.vscode
CMakeLists.txt
cmake-build-debug
CMakeCache.txt
CMakeLists.txt
./github/workflows/add-contributors-to-readme.yml
*.exe
*.py

# Sem 1
todo
alpha

# Sem 3
Basics
build
TestHere
@collage
mcq
